<div class="container">
    <button mat-raised-button color="primary" (click)="resetChat()" class="btnReset">Reset chat</button>
  <div class="background" >
      

  </div>
  <div class="header">
    <!--<h1>
      POKEDEX
    </h1>-->
    <img src="https://craig1123.github.io/pokedex/img/Pokedex.png">
  </div>
    <mat-card class="example-card mat-elevation-z16">
        <div #scrollMe class="scrollable">
            <div id="chat" class="baseClass" *ngFor = "let item of askQuestions" [ngClass] = "{'question': !item.isResponse, 'response': item.isResponse}">
              {{item.texto}}
            </div>
        </div>
        <div class="input-text">
          <div class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Mensaje" [(ngModel)]= "mensaje" (keyup.enter)="enviar()"> 

            </mat-form-field>
            <button mat-fab color="primary" (click)="enviar()" [disabled]= "mensaje == ''">Enviar</button>
          </div>
        </div>
        
      </mat-card>
</div>
